@font-face {
  font-family: DancingScript-Regular;
  src: url("DancingScript-Regular.otf");
}
body{
  font-family: DancingScript-Regular;
  background-color: black;

}

img{
  box-shadow: 2px #02010a;
}
#cabecera{
width: 100%;
background-color: #5b7989;
text-shadow: 2px  #02010a;
border-radius: 10px;
display:inline-flex;
}
  #cabecera h1{
  color: white;
  text-shadow: 2px 2px #02010a;
  align-content: center;
  }

#menu{
width: 30%;
position: fixed;
top:40px;
right:-150px;
}
  #menu li{
  margin: 0;
  padding-right: 5px;
  display: inline;
  }
  #menu a{
  text-decoration: none;
  color: white;
  }
#imagen_central{
background-color:#82c3a6;
text-align:center;
}

#imagen_secundaria img{
  margin: 5%;
}

#imagensecundaria1 img:hover{
  transform: rotate(10deg);
  border: 2px;
  box-shadow: 4px 4px 20px  #82c3a6;
}

#imagensecundaria2 img:hover{
  transform: translate(5px,-20px);
  boder: 2px;
  box-shadow: 4px 4px 20px #82c3a6;
}


@media (min-width: 900px ) {
  #contenido{
    width: 900px;
  }
  #imagen_secundaria{
    width: 100%;
    background-color: #d5c75f;
    display: inline-flex;


  }
      #imagensecundaria1{
        width: 50%;
        text-align: center;
        border: 2px;
      }
      #imagensecundaria1 img{
        width: 80%;
        text-align: center;
      }

      #imagensecundaria2{
        width: 50%;
        text-align: center;
      }
      #imagensecundaria2 img{
        width: 80%;
        text-align: center;
      }

      footer{
        width: 100%;
        display:inline-flex;
        background-color: #C6d5c5;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;

      }
      footer div{
        width: 25%;
        border: solid 1px;
      }

      footer img{
        width: 10%;
      }

      #galeriapaisajes{
        width: 100%;
        display:inline-flex;
      }



}


@media (max-width: 900px){
  #contenido{
    width: 100%
  }
  #imagen_secundaria{
    width: 100%;
    background-color: #d5c75f;
    border: solid 1px;
  }
  #imagensecundaria1{
    width: 100%;
    text-align: center;
    border: 2px;
  }

  #imagensecundaria2{
    width: 100%;
    text-align: center;
  }

  footer{
    width: 100%;
    background-color: #C6d5c5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
  }
  footer div{
    height: 80px;
    border: ridge 2px;

  }
  footer img{
    width: 5%;
  }
}
